<div class="row">
    <div class="col-md-5 col-sm-12">
        <AutoComplete @bind-Value="customerName"
                      TItem="string"
                      DataProvider="CityDataProvider"
                      PropertyName="CustomerName"
                      Placeholder="Search a customer..."
                      OnChanged="(string customer) => OnAutoCompleteChanged(customer)"/>
    </div>
</div>

@code {

     private string? customerName { get; set; }

    [Parameter] public IEnumerable<string>? Cities { get; set; }

    [Parameter] public EventCallback<string> SelectName { get; set; }



    private async Task<AutoCompleteDataProviderResult<string>> CityDataProvider(AutoCompleteDataProviderRequest<string> request)
    {

        return await Task.FromResult(request.ApplyTo(Cities!));
    }

   

    private async Task OnAutoCompleteChanged(string customer)
    {

        Console.WriteLine($"'{customer}' selected.");
        await SelectName.InvokeAsync(customer);
    }

}