<div class="row">
    <div class="col-md-5 col-sm-12">
        <input type="text"
               class="form-control"
               placeholder="Search a City..."
               @bind="searchTerm"
               @oninput="OnSearchInput"/>
    </div>
</div>

@code {
    private string? searchTerm { get; set; }

    private IEnumerable<string> filteredCities => string.IsNullOrEmpty(searchTerm)
        ? Cities
        : Cities.Where(city => city.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));

    [Parameter]
    public IEnumerable<string>? Cities { get; set; } = ServersRepository.GetServres()
        .Select(server => server.City)
        .Distinct()
        .ToList()!;

    [Parameter] public EventCallback<string> SelectName { get; set; }

    private async Task OnSearchInput(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString();
        Console.WriteLine($"'{searchTerm}' selected.");
        await SelectName.InvokeAsync(searchTerm);
        await Task.CompletedTask; 
    }

    private async Task OnCitySelected(string city)
    {
        Console.WriteLine($"'{city}' selected.");
        searchTerm = city; 
        await SelectName.InvokeAsync(city);
    }

    public void Clear()
    {
        searchTerm = String.Empty;
    }

}