<Card
    Class="mb-4"
    Style="width:8rem; height:10rem;"
    Color="@(City == SelectedCity ? CardColor.Primary : CardColor.None)">

    <img
        class="rounded-top"
        Style="width:7rem; height:5rem;"
        src="images/@GetImageFileName(City.ToLower())"
        alt="City Image"/>

    <CardBody>
        <Button
            Color="ButtonColor.Primary"
            Type="ButtonType.Button"
            @onclick="() => OnCitySelected(City)">
            @City
        </Button>
    </CardBody>
</Card>

@code {
    [Parameter] public string City { get; set; } = string.Empty;
    [Parameter] public string SelectedCity { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> Callback { get; set; }

    private async Task OnCitySelected(string city)
    {
        SelectedCity = city;
        await Callback.InvokeAsync(city);
    }

    private string GetImageFileName(string cityName)
    {
        return $"{cityName}.png";
    }

}