@using System.Diagnostics.CodeAnalysis
<div class="container" style="display: flex; flex-wrap: wrap; gap: 10px;">
    @foreach (var city in Cities.Distinct())
    {
        <DisplyCity 
            city="@city"
            SelectedCity="@SelectedCity" 
            Callback="@HandleSelectedCity"
        />
    }
    <Card Class="mb-4" Style="width:8rem; height:10rem;">
        <CardBody>
            <Icon Name="IconName.SearchHeartFill"/>
            <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Button" @onclick="ClearFilter">
                Clear Filter
            </Button>
        </CardBody>
    </Card>
</div>


@code {
    private List<string> Cities { get; set; } = ServersRepository.GetServres().Select(a => a.City).Distinct().ToList()!;
    private string SelectedCity { get; set; }
    [Parameter] public EventCallback<string> SelectCityCallback { get; set; }
     [Parameter] public EventCallback<List<string>> CitiesCallback { get; set; }


     protected override async Task OnAfterRenderAsync(bool firstRender)
     {
         await CitiesCallback.InvokeAsync(Cities);
     }

     private void GoToAdd()
    {
        Navigation.NavigateTo("/AddServer");
    }

    private async void FilterData(string city)
    {
        SelectedCity = city;
        await SelectCityCallback.InvokeAsync(SelectedCity);
    }


    private async Task ClearFilter()
    {
        SelectedCity = null!;
        await SelectCityCallback.InvokeAsync(SelectedCity);
    }

    private void HandleSelectedCity(string obj)
    {
        FilterData(obj);
    }

}