@using DNTPersianUtils.Core
@using BlazorApp1.Components.Pages.Generic
@rendermode InteractiveServer

<div>
    <table class="table  table-striped table-striped-columns">
        <RepeatedComponent
            Items="Servers">
            <Header>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                         Is Online
                    </th> 
                    <th/>
                    <th/>
                    <th/>
                </tr>
            </Header>
            <Row>
                <DisplyServerComponent
                    context="context"
                    OnServerDeleted="HandleServerDeleted"/>
            </Row>
        </RepeatedComponent>
    </table>
</div>
 

@code {
     [Parameter]
    public string? CityName { get; set; }

    [Parameter] public string? SearchSorting { get; set; }

     private List<Server> Servers { get; set; } = ServersRepository.GetServres();


     protected override void OnParametersSet()
     {
         Console.WriteLine(CityName);
         Servers = CityName is null or "" ? ServersRepository.GetServres() : ServersRepository.GetServersByCity(CityName);
        // Console.WriteLine(SearchSorting +"is the search poaram");
         if (SearchSorting is not null or "")
             Servers = ServersRepository.SearchServers(SearchSorting);
     }


     private void HandleServerDeleted(int serverId)
     {
         Servers.RemoveAll(s => s.Id == serverId);
         StateHasChanged(); // Notify the parent component to re-render
     }
}