@page "/Servers"
@using BlazorApp1.Components.Common
@using BlazorApp1.Components.Pages.Servers.Components
@rendermode  InteractiveServer
<h3>ListServers</h3>


<DisplyListCity
    @ref="DisplyListCity"
    SelectCityCallback="HandelCityCallback"/>

<StringAutoComplete @ref="StringAutoComplete"
                    SelectName="SearchCallBack"/>

<ServerListComponent CityName="@CitySelected" SearchSorting="@SearchString"/>

<a href="/AddServer">
    <Button Color="ButtonColor.Primary">Add new</Button>
</a>

@code {

    private string? CitySelected { get; set; }
    private string? SearchString { get; set; }
    private DisplyListCity? DisplyListCity { get; set; }
    private StringAutoComplete? StringAutoComplete { get; set; }

    private void HandelCityCallback(string cityName)
    {
        StringAutoComplete!.Clear();
        SearchString = null;
        CitySelected = cityName;
    }


    private void SearchCallBack(string obj)
    {
        DisplyListCity!.ClearSelection();


        SearchString = obj;
    }

}