@page "/Servers"
@using BlazorApp1.Components.Common
@using BlazorApp1.Components.Pages.Servers.Components
@rendermode  InteractiveServer
<h3>ListServers</h3>


  

<DisplyListCity
    SelectCityCallback="HandelCityCallback"
    CitiesCallback="HandleListCities"/>

<StringAutoComplete
    Cities="Cities"
    SelectName="SearchCallBack"
/>

    <ServerListComponent CityName="@CitySelected"/>

<a href="/AddServer">
    <Button Color="ButtonColor.Primary">Add new</Button>
</a>

@code {

    private string? CitySelected { get;  set; }
    private string? SearchString { get;  set; }
    private List<string> Cities { get; set; }

    private void HandelCityCallback(string cityName)
    {
        CitySelected = cityName;
    }


    private void HandleListCities(List<string> obj)
    {
        Cities = obj;
    }

    private void SearchCallBack(string obj)
    {
        SearchString = obj;
    }

}